
.mainhead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('https://mk0ifpafitnessc1bmd8.kinstacdn.com/app/uploads/2017/11/shutterstock_286438856-e1470682214720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.mainhead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.mainhead h2 {
    display: inline-block;
    font-family: 'Varela Round';
    max-width: 25rem;
    font-size: 1rem;
    text-color: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}
@media (min-width: 768px) {
    .mainhead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
@media (min-width: 992px) {
    .mainhead {
        height: 100vh;
        padding: 0;
    }
    .mainhead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .mainhead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, .1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 3px;
}


.btn-primary {background-color: #00522c;}
.btn-primary:hover{background-color:#00381E}
.btn-primary:focus{background-color: #1C5603;color:#fff}
.btn-primary:active{background-color:#1C5603!important}



.signup-section {
    padding: 10rem 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.signup-section .form-inline input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, .1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    text-align: center;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

body {
    background-color: #161616 !important;
}
.bg-primary {
    background-color: #64a19d !important;
}